<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" (click)="Users()" >Users</label>
        <label class="btn btn-primary" ng-model="radioModel" (click)="Events()" >Events</label>
        <label class="btn btn-primary" ng-model="radioModel" (click)="Internship()" >Internship</label>
        <label class="btn btn-primary" ng-model="radioModel" (click)="Workshop()">Workshops</label>
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            
             <div class="card mb-3">
                <div class="card-header"><button class="btn btn-primary"><b>+</b></button></div>
                 
                <table class="card-body table table-hover">
                    <thead>
                    <tr >
                        <th *ngFor="let title of usertitle">{{title.name}}</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                   <tr *ngFor="let item of tableData">
                                <td>{{item.col1}}</td>
                                <td>{{item.col2}}</td>
                                <td>{{item.col3}}</td>
                                <td>{{item.col4}}</td>
                                <td>{{item.col5}}</td>
                                <td>{{item.col6}}</td>
                                <td>{{item.col7}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>
