<div [@routerTransition]>
    <app-page-header  [icon]="'fa-table'"></app-page-header>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            
             <div class="card mb-3">
                <div class="card-header"><div>Users Table</div><button class="btn btn-primary" (click)="Add()"><b>+</b></button></div>
                 
                <table class="card-body table table-hover">
                    <thead>
                    <tr >
                        <th *ngFor="let item of usertitle">{{item.name}}</th>
                       
                       
                    </tr>
                    </thead>
                    <tbody>
                   <tr  *ngFor="let item of EventData" >
                                <td>{{item.name}}</td>
                       <td>{{item.date}}</td>
                       <td>{{item.joblocation}}</td>
                       <td>{{item.venue}}</td>
                       <td><button class="btn btn-primary" (click)="View1(item)" >View Applicants</button></td>
                        <td><button class="btn btn-primary" (click)="Edit(item)" >Edit Event</button></td>
                                
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>

